[2014-04-21 18:18] rciovati opened #1 "openjdk-fontfix for Ubuntu 14.04"
Hi there, first of all thank for openjdk-fontfix ppa, you saved my eyes :D
Do you have any plan for releasing it for Ubuntu 14.04?

Thanks again.

[2014-04-22 07:36] #1 closed, assigned to nobody

[2014-07-16 18:18] akstrfn opened #2 "Causes boot failure on Linux Mint 17"
After installing infinality my system didn't boot. Problem was that Linux mint display manager  (MDM) process couldn't start. I installed Gnome Display Manager (GDM) but system still didn't boot after that I reverted to MDM. I solved the problem by updating the process:

[code]

hope this is the place to report this error :blush:

[2014-07-21 19:47] #2 closed, assigned to nobody

[2014-08-09 15:17] ufovsalien opened #3 "Build for 12.04"
Hi, I tried to build 14.04 source to 12.04, but build fails with '-02 unknown option.' Building process was really long on atom.
Maybe, you can apply back 12.04 support. Many people use 12.04 (and it has support).

[2014-09-18 13:51] pokoblin opened #4 "7u65-2.5.2-3~14.04 is available"
Please build to PPA.

btw. How to use build_packages.sh build .deb file?

I use "sudo debuild -S -sd" command echo "/bin/bash: dh_autoreconf_clean: command not found".

[2014-09-25 09:25] #4 closed, assigned to nobody

[2014-10-27 03:36] sonicflare opened #5 "Ubuntu 14.10 support?"
Will new ubuntu be supported?

[2014-10-31 13:12] #5 closed, assigned to nobody

[2015-02-02 17:28] dlussky opened #6 "7u75-2.5.4 is available"
Just in case someone wants to use build_package script from this repo:
change debuild parameters to something like that
-b -us -uc -sd -i
(building only binary package without any signing and stuff)
and comment out dput
Then, change the version in the last line to what you actually have in your repo (for 14.04 it is 7u75-2.5.4-1~trusty1)

*also you'll need to install some dependencies, you'll see

[2015-02-04 18:49] achaphiv commented on #6
Building packages now.

[2015-02-26 11:47] sonicflare opened #8 "New freetype version"
Ubunutu have bumped the freetype version with small bugfixes.

Utopic: https://launchpad.net/ubuntu/+source/freetype/2.5.2-2ubuntu1.1
Trusty: https://launchpad.net/ubuntu/+source/freetype/2.5.2-1ubuntu2.4

[2015-02-28 04:55] achaphiv commented on #6
Packages successfully built.

[2015-02-28 04:55] #6 closed

[2015-02-28 04:55] achaphiv commented on #8
Building now.

[2015-02-28 15:15] dlussky commented on #6
That was a long build))

[2015-03-01 12:42] #8 closed

[2015-03-02 14:35] AAlakkad commented on #5
@achaphiv Hello, can you please update to 14.10? or maybe put the build instructions in the readme file.
I miss this package after upgrading Ubuntu to 14.10.

Thanks!

[2015-03-02 14:37] ntvsx193 commented on #5
+1

[2015-03-02 14:48] sonicflare commented on #5
Guys, just use:

add-apt-repository ppa:no1wantdthisname/ppa

and it is working fine in 14.10

[2015-03-03 07:15] AAlakkad commented on #5
You're right, I'm already using infinality on 14.10, but  I meant the OpenJDK with font fix.

[2015-03-03 11:04] sonicflare commented on #5
@AAlakkad you can also check TuxJDK
https://code.google.com/p/tuxjdk/

[2015-04-14 18:44] cpriego opened #9 "Any plans on building for openjdk 8?"
Just as the title says, do you have any plans on building for openjdk 8?

Thanks in advance.

[2015-04-14 18:52] cpriego commented on #3
The solution to the superbold fonts with **_any_** openJDK is uninstalling a fonts package:
[code]
As established here http://askubuntu.com/a/125619

[2015-04-16 16:34] achaphiv commented on #9
Yeah I'll build whenever an official package comes out. I believe this will be in 14.10.

[2015-04-20 20:41] achaphiv commented on #9
Just built for utopic.

[2015-04-21 14:43] cpriego commented on #9
Amazing! Trying it right now.

[2015-04-21 14:43] #9 closed

[2015-04-22 13:42] dlussky opened #10 "openjdk-7 7u79-2.5.5 is available"
https://launchpad.net/ubuntu/+source/openjdk-7/7u79-2.5.5-0ubuntu0.14.10.2

[2015-04-22 21:25] achaphiv commented on #3
Closing since original issue has been resolved. If the superbold thing is still occurring, then that will be a separate issue.

[2015-04-22 21:25] #3 closed

[2015-04-22 21:25] achaphiv commented on #10
Thanks for the heads up. Building now.

[2015-04-23 20:21] kropp opened #11 "Ubuntu 15.04 (vivid) is released"
Could you please support it too? Both JDK 7 & 8.

[2015-04-24 19:22] achaphiv commented on #10
Packages now built.

[2015-04-24 19:23] #10 closed

[2015-04-24 19:23] achaphiv commented on #11
Building now.

[2015-04-25 03:53] gisphm commented on #11
Please build both `freetype` and `fontconfig-infinality` for ubuntu vivid.

[2015-04-25 08:48] kropp commented on #11
@achaphiv Thanks! Works great!

[2015-04-25 08:48] #11 closed

[2015-04-25 14:10] anaturinbor commented on #11
Yes, please add fontconfig-infinality support for 15.04.

[2015-04-29 23:37] gisphm opened #13 "Ubuntu 15.04 is released. Need fontconfig-infinality"
This project is awesome.
Please build both `freetype` and `fontconfig-infinality` for ubuntu 15.04.

[2015-05-02 00:40] achaphiv commented on #13
Building now.

[2015-05-02 03:25] gisphm commented on #13
Thanks!!!

[2015-05-02 03:41] #13 closed

[2015-05-03 02:58] bl4ckn0de commented on #9
do you have any plan to backport this to Trusty LTS support ?

[2015-05-03 03:01] bl4ckn0de opened #14 "build jdk8 for Trusty (14.04LTS)"
https://github.com/achaphiv/ppa-fonts/issues/9#issuecomment-98431559

[2015-05-03 09:43] achaphiv commented on #9
No, since there's no existing package for trusty.
https://launchpad.net/ubuntu/+source/openjdk-8

[2015-05-03 11:44] bl4ckn0de commented on #9
On Sun, May 3, 2015 at 4:43 AM, achaphiv <notifications@github.com>
wrote:

so do the project is based only in oficial Canonical/Ubuntu source code
for debs? there exist two PPAs with support for OpenJDK 8 in Trusty. Do
we can re-use it ?

[2015-05-03 18:35] achaphiv commented on #9
I haven't tried myself, but it probably does work.
On May 3, 2015 07:44, "bl4ckn0de" <notifications@github.com> wrote:

[2015-05-04 07:04] achaphiv commented on #14
Building now with the package from https://launchpad.net/~openjdk-r/+archive/ubuntu/ppa

[2015-05-16 18:13] achaphiv commented on #14
Packages have been built for a while now.

[2015-05-16 18:13] #14 closed

[2015-06-10 11:28] MichaelHindley opened #15 "Chrome UI huge after installing fonts"
![image](https://cloud.githubusercontent.com/assets/1016639/8081340/402742e6-0f74-11e5-88e8-e040bdf3b13c.png)

After installing the fonts, Chrome's UI got several times bigger. This is how it looks by default, it is not "zoomed in" and there are no extensions that would interfere. Is this related to dpi in some way, is there any config that can be changed for this? Other browsers and programs look

[2015-08-03 18:29] dlussky opened #16 "7u79-2.5.6 is available for 14.04"
https://launchpad.net/ubuntu/+source/openjdk-7/7u79-2.5.6-0ubuntu1.14.04.1

[2015-08-05 13:21] achaphiv commented on #16
Building updated packages for trusty/precise/vivid now.

[2015-09-12 14:27] mpalourdio opened #17 "libfreetype update"
Hello,

Freetype has been updated. (https://launchpad.net/ubuntu/+source/freetype/2.5.2-2ubuntu3.1) Unfortunately, this update broke infinality during an automatic update of my system.

Would you mind updating your ppa ? Or is there a way I can simply fix it ?

Thanks by advance.

[2015-09-14 10:34] sedyshev-a commented on #17
+1 for this, ubuntu 14.04.
Need fix.

[2015-09-14 15:01] achaphiv commented on #16
Packages built for a while now.

[2015-09-14 15:01] #16 closed

[2015-09-14 15:05] achaphiv commented on #17
Updated packages have been built and published.

[2015-09-14 18:55] mpalourdio commented on #17
Worked like a charm, many thanks !

[2015-09-14 18:55] #17 closed

[2015-10-12 01:18] squallliu opened #18 "Ubuntu 15.10 support?"
This project is great.
Please build both freetype and fontconfig-infinality for ubuntu 15.10.
thanks.

[2015-10-15 03:28] achaphiv commented on #18
Packages have been built. Reopen if there's an issue there.

[2015-10-15 03:28] #18 closed

[2015-10-22 13:37] nhahv opened #19 "Support for Mac OS X"
Hi.
This patch work perfectly on my ubuntu.
Thanks a lot.
Could you buid somthing like this for Mac OS X. I'am using Apple JDK 1.6 with Intellij IDEA, but it quiet slow and lag.
Run with Open JDK 7 or 8 is faster. But font rendering is ugly. Help us plz.

[2015-10-26 13:02] kalinichenko88 opened #20 "Support for Ubuntu 15.10"
openjdk-fontfix ppa does not work on last Ubuntu

[2015-10-26 14:19] ntvsx193 commented on #20
+1

[2015-10-27 08:07] achaphiv commented on #20
Building packages.

[2015-10-27 08:09] achaphiv commented on #19
Sorry, but I don't use mac. I wouldn't know where to begin.

[2015-10-27 08:09] #19 closed

[2015-10-27 13:10] chripede commented on #20
openjdk-8 is not available for 15.10. Looks like the build failed. Can you fix it?

[2015-10-28 08:36] achaphiv commented on #20
Yeah, I'm attempting to fix it.

[2015-10-30 12:00] #20 closed

[2015-12-22 19:18] jschilling1 opened #21 "pycharm 5 / idea 15 - database view / help menu broken fonts"
this ppa worked beautifully for pycharm 4, but with pycharm 5 a few things broke
https://youtrack.jetbrains.com/issue/DBE-1805

i've since switched over to jdk bundled with IDEA and not only did it fix the issue above but made everything render noticeably better than with the ppa
https://confluence.jetbrains.com/display/IDEADEV/IDEA+16+EAP
ideaIU-144.2151.16-custom-jdk-linux.tar.gz

it would be fa

[2016-01-08 05:20] ysolis commented on #14
the packages are updated to 8u72 in https://launchpad.net/~openjdk-r/+archive/ubuntu/ppa repo for trusty from December (the same version in xenial alpha 1 now)

but in PPA repo (https://launchpad.net/~no1wantdthisname/+archive/ubuntu/openjdk-fontfix)  for trusty, is not updated, continue to be 8u45-b14-1~14.04ppa1

[2016-01-14 10:25] achaphiv commented on #14
Building now.
You could have made a new ticket, by the way.

[2016-01-24 02:49] ysolis commented on #14
ok noted ...

[2016-02-05 15:18] ysolis opened #22 "jdk8 u72-b15-1~trusty1 updated for trusty"
the packages are updated to 8u72-b15-1~trusty1 in https://launchpad.net/~openjdk-r/+archive/ubuntu/ppa repo for trusty now (the same version in xenial alpha now)

[2016-02-19 21:03] x1o opened #23 "No rgba anti-aliasing in Java 8 apps (only grayscale)"
When running a Swing-based Java app (PyCharm 5), fonts are only grayscale antialiased, while rgba anti-aliasing is used system-wide.

PyCharm is run with the `-Dawt.useSystemAAFontSettings=lcd` parameter.

For comparison, here is how font rendering looks like in PyCharm and in Evolution. The difference in rendering is clearly noticeable under magnification.

OS: Ubuntu 15.10
openjdk-8-jre: 8u72-b0

[2016-02-20 22:38] achaphiv commented on #22
Well, it took a while, but I finally got around to building the packages.

[2016-03-08 08:00] #22 closed

[2016-03-14 06:22] wenxingxing opened #24 "works for webstorm but clion still ugly."
i'm on ubuntu 15.10.

[2016-03-22 07:41] squallliu opened #25 "Ubuntu 16.04 support"
Please build both freetype and fontconfig-infinality for ubuntu 16.04.
thanks..

[2016-03-26 14:02] mikhailnov commented on #25
freetpe is already built, but fontconfig-infinality is missing...
please build it, thank you in advance

[2016-03-27 13:07] wenxingxing commented on #24
the clion get its own jre ...

[2016-03-27 13:07] #24 closed

[2016-04-05 12:26] achaphiv commented on #25
Sorry for the late response.

I tried building freetype6 on Xenial and it [failed](https://launchpad.net/~no1wantdthisname/+archive/ubuntu/ppa/+build/9315727).

I don't actually have a Xenial box, so it's hard to determine why it's failing. I should hopefully get this done before the official Xenial release (Apr 21?).

[2016-04-05 12:30] achaphiv commented on #23
Is PyCharm using its own bundled jre? Otherwise I'm not sure.

[2016-04-05 12:33] achaphiv commented on #21
That confluence link is broken.

The updated link seems to be: https://confluence.jetbrains.com/display/IDEADEV/IDEA+16+EAP

If so, it seems like the linux version is not actually bundling a jre. Am I missing something?

[2016-04-05 12:49] mikhailnov commented on #25
Maybe because Ubuntu 16.04 doesn't think that SHA1 is not secure in some cases (I'm not aware enough of cryptography)? For example I get such errors while apt update:
W: http://dl.google.com/linux/webdesigner/deb/dists/stable/Release.gpg: Signature by key 4CCA1EAF950CEE4AB83976DCA040830F7FAC5991 uses weak digest algorithm (SHA1)
W: http://repo.yandex.ru/yandex-disk/deb/dists/stable/InRelease: Sign

[2016-04-12 11:13] thuandt commented on #25
Thanks for your packages.
I has been used it more than year, but `fontconfig-infinality` config files is very old.
@achaphiv can you update latest font config files for this repos?

With new comming releases (16.04) I hope can continue use your packages.

Thanks for your works!

[2016-04-12 12:00] greatquux commented on #25
It looks like bohoomil's patch for freetype 2.6.1 is no longer applying. Might be simpler just to import upstream freetype 2.6.2 and his current patches and just build like that.

[2016-04-16 14:41] thuandt commented on #25
I upgraded to 16.04.
Without freetype patch, fonts is so ugly ...

[2016-04-16 18:24] achaphiv commented on #25
I kicked off a new build using [bohoomil](https://github.com/bohoomil/fontconfig-ultimate)'s older 2.6.1 patch. Hopefully that works.

Yeah, I've been meaning to do this. I have no idea how I originally created the original package though.

I've been lazy to update it since everything seems to work despite it being out of date. Additionally, it seems bohoomil completely replaces fontconfig. So now

[2016-04-16 18:28] mikhailnov commented on #25
Thank you for your work despite hating debian packaging :)

[2016-04-18 13:31] greatquux commented on #25
Yes I wanted to say I am very appreciative as well!! And as you saw the new package build worked and the old config files still work.  Thanks again!

[2016-04-21 23:53] #25 closed

[2016-04-22 06:20] mikhailnov commented on #25
Why did you close the issue?

[2016-04-24 20:43] Savemech commented on #25
guys any chance get this fancy working soon?

[2016-04-24 22:17] x1o commented on #23
I think it is. IIRC, the rendering did depend on the particular version of java installed and/or set of font patches. Still have no idea how it all works together (and time to figure it out, honestly).

[2016-04-25 03:02] thuandt commented on #25
@Savemech new build is online. It's not latest patch from bohoomil but it works.

[2016-04-25 12:47] Savemech commented on #25
huh i mean for ubuntu 16.04 ppa's
mine box with these ppa's after installing fontconfig-infidality was broke something in way like:
cant click(app just hangs) anywhere but few windows

[2016-04-25 16:15] thuandt commented on #25
It's work normally with my Ubuntu 16.04 box

[2016-04-26 09:28] Savemech commented on #25
Thanks, then its looks like i have other kind issues with my box

[2016-05-13 14:56] dlussky commented on #23
Btw, Jetbrains developed their own patches for openjdk, and their variant is considerably faster (you can feel it when changing font settings and all documents being re-rendered at the same time). But they fail to bundle it consistently, i believe.
I asked them if they would provide their patches here:
https://youtrack.jetbrains.com/issue/IDEA-144936#comment=27-1434537
And sometimes they post sepa

[2016-05-13 15:03] dlussky commented on #21
For me, their latest bundled jdk is faster then the one from this repo, and provides the same rendering (i did not check if it's exactly pixel perfect, but it looks just like with openjdk-fontfix)

[2016-05-13 21:46] x1o commented on #23
@dlussky Good to know, thanky.

[2016-05-16 10:14] dlussky commented on #21
@achaphiv here is their repo with patches

[2016-05-17 13:05] dlussky commented on #21
also, from other ticket:

[2016-07-04 11:29] Nasreddine opened #26 "Cannot install jdk"
After I added the fix package, I tried to install jdk. I've got this message:

The following packages have unmet dependencies:
 openjdk-7-jdk : Depends: openjdk-7-jre (= 7u95-2.6.4-1ppa1)
E: Unable to correct problems, you have held broken packages.

[2016-07-06 12:07] achaphiv commented on #26
This looks like Xenial?

It appears to be there.

https://launchpad.net/~no1wantdthisname/+archive/ubuntu/openjdk-fontfix/+files/openjdk-7-jre_7u95-2.6.4-1ppa1_amd64.deb

Maybe try a `apt-get -f install`?

[2016-09-06 23:56] haizaar opened #27 "Please incorporate latest version from bohoomil"
Can you please sync up to the latest code from bohoomil and update the PPA?

P.S. I enjoy your packages for many years already - many thanks for your work! It truly makes my desktop shine.

P.P.S. Readme does not mention that one also needs to install freetype from the PPA. Yet, this is crucial. Is this intentional?

[2016-09-07 01:35] achaphiv commented on #27
When last I checked, the bohoomil's patch being used in this repo was the last working version for freetype 2.6.1.

Freetype 2.6.4+ has a new font hinting mode, so maybe I'll try that instead.

[2016-09-07 02:06] achaphiv commented on #27
Ah, yeah I figured it was covered by the

[code]

I can explicitly mention it though.

[2016-09-07 02:59] achaphiv opened #28 "Switch back to infinality (probably bohoomil's patches) instead of freetype 2.6.4's new engine?"
I recently updated the Xenial (16.04) package to freetype 2.6.5 and enabled the new hinting engine.

From what I've seen thus far, it's better than the default rendering.

Whether it's worse than infinality remains to be seen. If anyone thinks rendering has gotten worse, post here.

[2016-09-08 01:40] squallliu commented on #28
It looks worse on my computer.
Hope to return to the old version or provide the old version download.

[2016-09-08 02:22] squallliu commented on #28
Rendering the effect is worse than the old version, because the fontconfig is not updated?
Hope to return the old version or provide the old version download.

[2016-09-08 05:21] achaphiv commented on #28
Hmm, which version are you on? I messed up packaging.

* 2.6.5-0ubuntu0ppa6 = freetype's new engine
* 2.6.5-0ubuntu0ppa7 = barebones infinality version (I think)
* 2.6.5-0ubuntu0ppa8 = freetype's new engine (again)

[2016-09-08 06:49] achaphiv commented on #26
Looks like `tzdata` went missing.

http://askubuntu.com/questions/795901/what-happened-to-tzdata-java-in-xenial-16-04

[2016-09-08 23:59] TiZ-EX1 commented on #28
I didn't know not using infinality was an option? I thought infinality was the entire point of this repo. I can't stand regular freetype artificial emboldening, the X-only is much better. I know I've lost infinality somehow when I start seeing ugly bold fonts.

[2016-09-09 00:00] squallliu commented on #28
All versions of the bold is too bold，how to improve?

[2016-09-09 00:02] TiZ-EX1 commented on #28
All versions? I just know that by default, infinality uses X-only emboldening that also doesn't increase character widths. That behavior looks beautiful to me so that's all I'm after.

[2016-09-09 00:42] squallliu commented on #28
![image](https://cloud.githubusercontent.com/assets/585678/18371719/376eac36-7669-11e6-908a-f07ad9a97f5c.png)
![image](https://cloud.githubusercontent.com/assets/585678/18371722/4a19bd76-7669-11e6-9aee-c55c14003311.png)

[2016-09-09 02:03] TiZ-EX1 commented on #28
With ppa7, try opening a terminal, doing `export INFINALITY_FT_USE_VARIOUS_TWEAKS=true`, and running an application with that.

[2016-09-09 05:13] achaphiv commented on #28
ppa8 looks okay to me:
![ppa8](https://cloud.githubusercontent.com/assets/678337/18376127/064772b2-762a-11e6-87f0-66bc601eb3c1.png)

It looks like you're using the Ubuntu font, and that still looks okay to me:
![ppa8-ubuntu](https://cloud.githubusercontent.com/assets/678337/18376149/573900f0-762a-11e6-85d3-416fb3cc6796.png)

However, I'll make a ppa9 with bohoomil's infinality patch again just to

[2016-09-09 06:03] squallliu commented on #28
ppa10 looks perfect.
Thank you for hard work.
![image](https://cloud.githubusercontent.com/assets/585678/18376940/f56ad7d8-7695-11e6-9567-fd2db3b4322b.png)
![image](https://cloud.githubusercontent.com/assets/585678/18376965/3a629dda-7696-11e6-90eb-32efc33cc012.png)

[2016-09-09 08:43] achaphiv commented on #27
Updated to freetype 2.6.5 with a variant of bohoomil's patch. Also patched cairo.

I have to update fontconfig, but fonts look okay even without it. So closing for now.

[2016-09-09 08:43] #27 closed

[2016-09-09 12:33] TiZ-EX1 commented on #28
Yessss, love that X-only emboldening. Thank you so much!

[2016-09-09 17:19] greatquux commented on #28
Version 2.7 offers even more control since it allows compilation of both the old code and the new code and the ability to control rendering at runtime using the FREETYPE_PROPERTIES environment variable (see https://sourceforge.net/projects/freetype/files/freetype2/2.7/).

[2016-09-09 17:23] TiZ-EX1 commented on #28
That would be great if we could have both. There are a lot of desirable behaviors that are only in infinality. Despite the fact that the last version looked pretty good, it'd be incomplete without them.

[2016-09-10 04:30] achaphiv commented on #28
I've built `2.7-0ubuntu0ppa3`.

[2016-09-10 05:26] TiZ-EX1 commented on #28
I can't find any documentation on what properties are actually available to change.

[2016-09-10 05:43] achaphiv commented on #28
Hmm, I'm not seeing a difference with the example listed in the release notes.

http://git.savannah.gnu.org/cgit/freetype/freetype2.git/tree/include/freetype/config/ftoption.h#n78

mentions

* http://git.savannah.gnu.org/cgit/freetype/freetype2.git/tree/include/freetype/ftautoh.h
* http://git.savannah.gnu.org/cgit/freetype/freetype2.git/tree/include/freetype/ftcffdrv.h

Just search for `FT_Propert

[2016-09-10 11:51] greatquux commented on #28
In addition to enabling that, you also have to compile both interpreters. TT_CONFIG_OPTION_SUBPIXEL_HINTING must be defined as '3' so that both interpreters are compiled in and available at runtime.

________________________________
From: achaphiv [notifications@github.com]
Sent: Saturday, September 10, 2016 1:43 AM
To: achaphiv/ppa-fonts
Cc: Mike Russo; Comment
Subject: Re: [achaphiv/ppa-fonts] S

[2016-09-10 20:38] achaphiv commented on #28
The patch already does that

[code]

[2016-09-11 15:15] haizaar commented on #27
I noticed you've bumped it to freetype 2.7. Thanks! Works fine.

I did a side by side comparison of how fonts look on the same web pages on Kubuntu 14.04 and Ubuntu 16.04 (both with infinality enabled), same version of Chromium 52.x. Most of the pages, e.g. gmail, google search, look the same, except for the Github, where the difference is quite notable. Have a look at the two screenshots below. D

[2016-09-11 18:11] achaphiv commented on #27
Hm, I also patched cairo, so that may be causing it. Try downgrading it.

[2016-09-11 18:55] haizaar commented on #27
That was also before upgrade (I.e. with packages of your repo at the time
of bug posting). New packages improved hinting - just a bit, only seen
through magnification - but sibpixel rendering still does not come up. Any
other ideas?

On 11 Sep 2016 21:12, "achaphiv" <notifications@github.com> wrote:

[2016-09-11 18:59] achaphiv commented on #27
Try removing `fontconfig-infinality`.

Here's what I'm seeing in firefox:
![screenshot from 2016-09-11 14-58-58](https://cloud.githubusercontent.com/assets/678337/18419757/55f234c0-7830-11e6-8224-5d733a22907d.png)

[2016-09-11 23:45] squallliu commented on #28
The same configuration, 2.7 looks good, but worse than the previous version.
2.6.5 ppa10
![image](https://cloud.githubusercontent.com/assets/585678/18421380/6351dc6a-78bc-11e6-9f10-33b272781fa6.png)
2.7 ppa3
![image](https://cloud.githubusercontent.com/assets/585678/18421384/78566036-78bc-11e6-91a8-aa7108fa3eb4.png)

[2016-09-12 01:26] achaphiv commented on #28
I don't know how you (and many others) get such different results. Are you guys using custom fontconfig settings?

Right now I'm at

* freetype 2.7-0ubuntu0ppa3
* cairo 1.14.6-1ubuntu0ppa1
* fontconfig-infinality *NOT INSTALLED*
* No `INFINALITY*` or `FREETYPE*` or `FT_*` environment settings set

[2016-09-12 01:28] TiZ-EX1 commented on #28
@squallliu How'd you re-enable X-only emboldening on 2.7?

[2016-09-12 01:54] squallliu commented on #28
I use win7 style.
export INFINALITY_FT_FILTER_PARAMS="20 20 30 20 20" environment settings set.
Removed 72 to 74 lines of the 70-forced-synthetic.conf file.

[2016-09-12 02:05] TiZ-EX1 commented on #28
Okay, but isn't infinality disabled by default on 2.7? How'd you re-enable it?

[2016-09-12 02:37] squallliu commented on #28
Sorry, I don't know that.
I just want to bold more smooth.
My configuration referred to this link [https://bbs.archlinux.org/viewtopic.php?id=139543](url).
The configuration of the Firefox does not work, bold ugly.

[2016-09-12 07:12] squallliu commented on #28
@achaphiv INFINALITY* environment variables do not seem work on 2.7

[2016-09-12 08:09] haizaar commented on #27
I've got interesting discovery here: when I'm logged in into GitHub, fonts on its pages look great, but when I'm logged out (or in anonymous window) they look awful. It sounds crazy, but I've verified it both in FF and Chrome, both in 16.04 and 14.04. Weird.

Here are screenshots from 16.04, with latest fontconfig-infinality and freetype from your repo.

FF logged in
![ff-logged-in](https://cloud.

[2016-09-12 08:30] haizaar commented on #27
BTW, without fontconfig-infinality it behaves the same, and pixel-by-pixel comparison revealed no difference between with and w/o fontconfig-infinatlity, at least this specific GitHub page.

[2016-09-12 09:26] drps commented on #28
May be i've missed some old configurations but 2.6.1 version with fontconfig-infinality looks better than 2.7 without fontconfig-infinality in most cases for me. It will be great if i could enable/config renderer options on 2.7

[2016-09-12 12:16] greatquux commented on #28
@achaphiv Did you happen to see the way TT_CONFIG_OPTION_SUBPIXEL_HINTING was defined in the patches from archfan's repository?  For some reason it defines it twice.

See
https://github.com/archfan/infinality_bundle/blob/acb83b884f46b4c54a5529376592739f929e0fbe/01_freetype2-iu/0002-infinality-2.7-2016.09.09.patch

lines 62 and 63:
+#define TT_CONFIG_OPTION_SUBPIXEL_HINTING  1
+#define TT_CONFIG_OP

[2016-09-12 13:47] TiZ-EX1 commented on #28
@squallliu, are you positive you haven't used FREETYPE_PROPERTIES or a fontconfig option to disable Y emboldening and advance widths, or better yet, to just turn the infinality renderer back on? One of the huge gains in X-only emboldening is that the i character is discernible from the l character, whereas in the default case, the stem and dot blur together a bit. Setting truetype:interpreter-vers

[2016-09-12 23:32] squallliu commented on #28
@TiZ-EX1 No, I only used the INFINALITY_FT_FILTER_PARAMS and force fake bold instead of the font's default bold.

[2016-09-13 03:36] achaphiv commented on #28
Yeah, I noticed. The 2nd `#define` should just overwrite the first, right?

[2016-09-13 05:28] achaphiv commented on #28
There's definitely something wrong with the patch for freetype 2.7, but it's almost entirely the same as 2.6.5.

[2016-09-13 05:48] achaphiv commented on #28
Oh, wow I see it.

He forgot to
`#define FT_CONFIG_OPTION_INFINALITY_PATCHSET`
in `ftoption.h`

[2016-09-13 06:41] achaphiv commented on #27
It turns out 2.7 was broken. As mentioned in #28. Try the latest (2.7-0ubuntu0ppa4)

[2016-09-13 06:56] squallliu commented on #28
@achaphiv I have been updated to 2.7 ppa4, the problem has been fixed.

[2016-09-13 15:34] haizaar commented on #27
Yes, the latest 2.7-0ubuntu0ppa4 added back support for fontconfig-infinality. There still weird issues about fonts looking different on GitHub whether you are logged in or logged out, but they look gorgeous everywhere else (not only browsers), so I can live with it.

Thank you very much for your work and for your help!

[2016-09-14 14:44] greatquux commented on #28
Infinality patchset is working again in 2.7 ppa4.  The FREETYPE_PROPERTIES environment variable still has no effect though, but I think most people prefer the "old" rendering anyway!

[2016-09-16 13:07] volth opened #29 "Last update (freetype 2.7) broke hinting of "win98" style"
Now it looks like this (Ubuntu Mono w/o anti-aliasing):

![screenshot_2016-09-15_10-55-15](https://cloud.githubusercontent.com/assets/508305/18547474/148dd894-7b33-11e6-84de-68dffc211304.png)

This is how it was with freetype 2.6.1 (I still have it a docker container and I am looking a way how to downgrade libfreetype on the laptop):

![screenshot_2016-09-15_11-03-55](https://cloud.githubuserconte

[2016-09-16 23:12] achaphiv commented on #28
The intent of this issue has been fulfilled. Rendering issues can do in separate issues.

[2016-09-16 23:12] #28 closed

[2016-09-16 23:33] achaphiv commented on #29
I believe this can be fixed with `FREETYPE_PROPERTIES`.

# Version 40 (New default in freetype 2.7)
`export FREETYPE_PROPERTIES='truetype:interpreter-version=40'`
![interpreter-version-40](https://cloud.githubusercontent.com/assets/678337/18603929/3fb4c3ea-7c44-11e6-8756-b73cbedd6ea7.png)

# Version 35 (Old default in freetype 2.6)
`export FREETYPE_PROPERTIES='truetype:interpreter-version=45'`
![i

[2016-09-16 23:39] achaphiv commented on #28
Surprising, `FREETYPE_PROPERTIES` does cause a visible difference when antialiasing is turned off.

https://github.com/achaphiv/ppa-fonts/issues/29#issuecomment-247732039

[2016-09-17 07:10] volth commented on #29
Why: for "win98" style on low-dpi screens.
Many fonts (especially those ttfs from windows) are much better without anti-aliasing, especially when they are 8-9px tall.

[2016-09-19 12:20] greatquux commented on #28
Huh., that's surprising as it doesn't seem to have any effect for me (I export version 40, then run the 'waterfall' font demonstration program, then export with version 35 and run waterfall again which starts a new process and they look exactly the same).  I'm also not sure the second #define overwrites the first, but in any case it doesn't really matter for me, as long the Infinality environment

[2016-09-20 05:49] achaphiv commented on #29
Gotcha.

Did the environment variable fix your problem?

[2016-09-23 11:07] volth commented on #29
No, still weird.

![screenshot_2016-09-23_11-05-47](https://cloud.githubusercontent.com/assets/508305/18783847/d5ddd904-817d-11e6-8ecf-0d20a9a4b7f3.png)

Can you just restore .deb with freetype-2.6?

[2016-10-13 20:12] compuguy opened #30 "Repo support for 16.10"
I know this was pushed to the universe repo for yakkity, but it would be nice if builds were made on your repo as well.

[2016-10-18 06:30] achaphiv commented on #30
Building now.

[2016-10-18 06:35] achaphiv commented on #26
Well, I'm going to close this because it's more of a Ubuntu problem.
Sadly, it looks like it's only going to be openjdk-8 going forward.

[2016-10-18 06:35] #26 closed

[2016-10-18 06:38] achaphiv commented on #15
Despite the lack of comments, I've been on the lookout for this issue.
I haven't seen it in over a year.
No else has mentioned it either, so I can only assume this is a special snowflake.
Thus, I'm going to close.

[2016-10-18 06:38] #15 closed

[2016-12-13 16:47] m-ober opened #31 "Patched JDK makes font rendering worse"
Hi,

I'm using Linux Mint 18 Sarah. I'm also using the Xilinx Vivado IDE, which looks like this after installing Infinality. Note that the IDE comes with its own JRE.

![xilinx-jre](https://cloud.githubusercontent.com/assets/11992838/21149355/871b4c02-c15b-11e6-8174-08a6fc9cec99.png)

I installed the patched JRE and made the IDE use the patched JRE.

mober@mober-desktop ~ $ apt-cache policy openjd

[2016-12-14 08:59] #30 closed

[2016-12-14 09:15] achaphiv commented on #31
Was this because of the recent update to the package in my ppa?

Or is this just the first time you're using it?

Because I just checked, and I'm using the [patch from the latest commit of tuxjdk](https://github.com/tuxjdk/tuxjdk/blob/058db08a5176102f1dc02b86fbf43727fd830ef3/quilt-patches/tuxjdk/add-fontconfig-support.diff).

So I don't know why it doesn't work.

Maybe try `-Dawt.useSystemAAFontSe

[2016-12-29 17:42] m-ober commented on #31
No, it also happened with the old version. I'm already using "-Dawt.useSystemAAFontSettings=lcd", but it does not seem to have any impact.

[2017-04-16 12:30] mikassi opened #32 "Support for Ubuntu 17.04"
Can you add support for Ubuntu 17.04?
I love you work.

Thanks in advance.

[2017-04-17 20:36] achaphiv commented on #32
Yeah, I've been trying to build it.

Something about zesty is different.

[code]

[2017-04-18 04:20] mikassi commented on #32
It seems to be working now. Thanks!

[2017-04-18 04:20] #32 closed

[2017-04-21 06:22] #29 closed

[2017-04-23 08:47] mpalourdio opened #33 "libfreetype update - broken font rendering ubuntu on 14.04"
Hello,

Freetype has been updated some days ago. (ubuntu 14.04) .Unfortunately, this update broke infinality during an automatic update of my system.

Would you mind updating your ppa, please ?

Thanks by advance.

[2017-04-23 09:04] mpalourdio commented on #33
Mhh, I see that you have updated your ppa

[code]

But the rendering is very poor here (github under firefox for example). Any idea ?

[2017-04-23 11:26] mpalourdio commented on #33
Hey,

I just saw that you had triggered a new patched build for trusty ! A big THANK YOU, all is back to normal.

You rock :)

[2017-04-23 11:26] #33 closed

[2017-04-25 23:03] detly commented on #32
Did this happen? There's no infinality package in the PPA for 17.04.

[2017-04-26 00:12] achaphiv commented on #32
It's there.

https://launchpad.net/~no1wantdthisname/+archive/ubuntu/ppa/+packages?field.name_filter=&field.status_filter=published&field.series_filter=zesty

[2017-04-26 00:16] detly commented on #32
I only see `cairo` and `freetype` packages, no `fontconfig-infinality` package. Is it still possible to tweak rendering parameters (like I did with the env vars in `/etc/profile.d/infinality-settings.sh` in Ubuntu 16.10)?

[2017-04-27 10:32] achaphiv commented on #32
How did you get it in 16.10?

The `fontconfig-infinality` package is versioned 2013-01-04.  Which means it's been the same files copied for each new distribution. Since I saw no difference in 16.04 whether I used it or not, I just stopped packaging it altogether starting in 16.10.

Additionally, it was around that time I switched to Bohoomil's patches. They required a patch to fontconfig itself. I

[2017-04-27 12:13] detly commented on #32
Maybe I'm thinking of 16.04? I noticed a huge difference, possibly because
I use my monitors in portrait mode (even accounting for subpixel rendering,
it's hard to get good font rendering). Mostly the FIR coefficients, the
ChromeOS sharpening, and a bit of the stem alignment stuff.

I know a fair bit about Debian packaging, maybe I'll take a look this
weekend.

On 27 Apr 2017 8:32 PM, "achaphiv" <

[2017-04-27 12:15] detly commented on #32
I just checked my backups — it was 16.04.

[2017-05-04 23:44] detly commented on #32
So I'm a bit confused — where's the actual upstream? [infinality.net](http://infinality.net) seems to be dead, and it's hard to identify the patches against the original Freetype. Where did the `fontconfig-infinality` package come from?

[2017-05-05 00:38] achaphiv commented on #32
I manually made `fontconfig-infinality` through trial and error back in 2013. It's been so long that I don't actually remember how I did it. I vaguely recall downloading the files from infinality.net and then adding all the debian control files. It took many attempts before the [ackage was finally accepted by launchpad. This was before I made this repository to automate the package building.

 It

[2017-05-05 00:41] detly commented on #32
Haha, I feel that. I'll look at the `.dsc` etc. files on Launchpad and see what I can do.

[2017-05-14 12:37] mpalourdio opened #34 "libfreetype update - broken font rendering on trusty"
Hello,

Like https://github.com/achaphiv/ppa-fonts/issues/33, the last freetype update unfortunately broke again the fonts rendering. Could you please release an update  ?

Thanks by advance

[2017-05-15 23:00] achaphiv commented on #34
Building now.

[2017-05-16 18:36] mpalourdio commented on #34
Thanks A LOT !

[2017-05-16 18:36] #34 closed

[2017-10-07 23:53] kq01526 opened #35 "How to enable v40 FreeType interpreter on Ubuntu 16.04 using your PPA?"
@achaphiv After installing [your PPA](https://launchpad.net/~no1wantdthisname/+archive/ubuntu/ppa) on Ubuntu 16.04, is there anything else that needs to be done to enable [the new v40 interpreter](https://www.phoronix.com/scan.php?page=news_item&px=FreeType-2.7-Released)?

[2017-10-07 23:54] kq01526 opened #36 "FreeType 2.9"
@achaphiv Can you please update the PPA to FreeType 2.8?

[2017-10-08 07:01] achaphiv commented on #35
I remember I turned it on for #28, but people didn't like the results. I.E. still not as good as infinality.

I vaguely recall it being a compile time flag.

[2017-10-08 10:09] kq01526 commented on #35
@achaphiv Thanks, so simply installing the PPA should be enough? Is there any way to check which interpreter version is currently being used?

Also, what would I need to set the hinting to? None? Slight? Medium? Full?

When reading through https://www.reddit.com/r/linux/comments/4tb2dt/freetype_27_bringing_directwritecleartypelike/ I get the idea to set hinting to "None" to enable v40? Is that cor

[2017-10-08 10:16] kq01526 commented on #35
Okay, so according to https://github.com/achaphiv/ppa-fonts/issues/29#issuecomment-247732039 you can switch between the different interpreters via the command line, by exporting an environment variable.

But v40 should be the default anyway, right? So that should not be necessary when you want v40, right?

[2017-10-08 10:16] kq01526 commented on #35
Also came across this: https://www.freetype.org/freetype2/docs/reference/ft2-tt_driver.html

[2017-10-08 10:21] kq01526 commented on #36
Actually FreeType 2.8.1 is available now, which has some font rendering improvements:

https://www.freetype.org/index.html#news

[2017-10-08 10:22] kq01526 commented on #35
Looks like FreeType 2.8.1 adds a new default: https://github.com/achaphiv/ppa-fonts/issues/36

[2017-10-09 05:06] achaphiv commented on #36
Sure, I'll take a look at upgrading it.

[2017-10-09 07:20] achaphiv commented on #36
I updated to 2.8.

I'm waiting on https://github.com/archfan/infinality_bundle to update for 2.8.1.

[2017-10-09 19:40] kq01526 commented on #36
Okay, thanks, asked for an update over there: https://github.com/archfan/infinality_bundle/issues/17

[2017-11-17 13:52] funnylookinhat opened #37 "Enable builds for Artful (17.10)"
It looks like the series is enabled, but the only package that is building is `freetype` - I would have expected `fontconfig-infinality` to show up?

https://launchpad.net/~no1wantdthisname/+archive/ubuntu/ppa?field.series_filter=artful

[2017-11-17 16:26] achaphiv commented on #37
`fontconfig-infinality` has been gone for a while now.

Note how it also doesn't exist for zesty. I also updated the install instructions to no longer mention it.

The reasoning is in #32.

Specifically: https://github.com/achaphiv/ppa-fonts/issues/32#issuecomment-297676916

[2017-11-17 16:37] funnylookinhat commented on #37
Oh yeah I see that now - sorry for the extra bug.  :)

[2017-11-17 16:37] #37 closed

[2017-11-20 17:04] ysolis opened #38 "jdk8 for xenial updated to 8u151 (backported from Bionic Beaver)"
https://launchpad.net/ubuntu/+source/openjdk-8/8u151-b12-0ubuntu0.16.04.2

[2017-11-20 20:30] achaphiv commented on #38
The updated packages should be available now.

[2017-11-20 20:49] ysolis commented on #38
yup, thanks!

[2017-11-20 20:49] #38 closed

[2018-01-13 19:10] kq01526 commented on #36
FreeType 2.9 is available now:

https://www.freetype.org/index.html#news

[2018-01-13 19:10] kq01526 commented on #36
https://github.com/archfan/infinality_bundle/issues/17 still has not been solved.

[2018-04-10 15:33] xavier83ar opened #39 "Openjdk 8 missing from repository"
Today I've updated ubuntu and the openjdk got back to default version, provided by SO's repositories. I researched a bit and find out that the this repository has only packages for openjdk/jre version 7, and there is no packages for version 8. I did a ppa-purge and try to install it again with the same result.

This screenshot of synaptic show what's in the repository:

![seleccion_033](https://us

[2018-04-11 15:20] achaphiv commented on #39
Probably because there's a security update. I'm rebuilding for the latest.

[2018-04-14 16:30] xavier83ar commented on #39
it's been fixed.

[2018-04-14 16:30] #39 closed

[2018-05-15 10:48] pandasauce opened #40 "jdk8 for xenial updated to 8u171"
https://launchpad.net/ubuntu/+source/openjdk-8/8u171-b11-0ubuntu0.16.04.1

[2018-05-17 03:14] achaphiv commented on #40
Building now.

[2018-05-18 17:02] pandasauce commented on #40
Thanks. Tested on 16.04, works as expected.

[2018-05-18 17:02] #40 closed

[2018-06-02 05:53] a8j8i8t8 opened #41 "No openjdk package for Bionic release"
There is no openjdk package for Ubuntu 18.04 Bionic release.

[2018-06-02 14:42] achaphiv commented on #41
Building now.

[2018-06-28 21:35] #41 closed

[2018-07-22 19:23] pandasauce opened #42 "fontconfig-infinality is missing in Bionic PPA (18.04)"
`fontconfig-infinality` is missing in Bionic PPA. Force installing the `.deb` from Xenial results in 2 things breaking:

1. Line heights for the affected fonts start overlapping, e.g. when opening this page: https://raw.githubusercontent.com/achaphiv/ppa-fonts/master/README.md
2. Unicode symbols disappear in some instances, for example the watch symbol from https://github.com/robbyrussell/oh-my-zs

[2018-07-23 18:55] pandasauce commented on #42
Closing this, my mistake - screwed up the permissions on one of the fonts folder during an upgrade to bionic, that cascaded down and broke a bunch of other things. The .deb from Xenial works fine.

[2018-07-23 18:55] #42 closed

[2018-07-23 18:56] achaphiv commented on #42
I suspect this is might be more than just fontconfig.
The *full* infinality patch is currently dead for freetype 2.8.1+.

* Artful uses freetype 2.8.0
* Bionic uses freetype 2.8.1

#36 is somewhat related.

The current Bionic patch enables *v38* (barebones infinality) mode.
As mentioned here: https://www.freetype.org/freetype2/docs/subpixel-hinting.html

Clearly it's not as good as the full infina

[2018-07-23 20:12] pandasauce commented on #42
The current Bionic patch coupled with the fontconfig package from Xenial does a superb job. Without fontconfig though it is not as good. For example, Ubuntu Mono remains thick and difficult to read without it.

Two things that screwed it up for me after upgrading to Bionic were the emoji font installed by default and my own umask settings making my Windows fonts directory not world-readable. Each

[2018-07-28 12:32] pandasauce commented on #36
Due to bugs in 2.8.1 that ships with Bionic I spent some time understanding @achaphiv's scripts and learning a bit about the technologies involved at the same time. While not quite a pull request because of my experiments, [this](https://gitlab.com/pandasauce/freetype-builds/tree/2.9.1-v38) will build FreeType 2.9.1 with v38 and all optional dependencies enabled. You only need to change the name a

[2018-08-15 19:39] pandasauce commented on #35
PPA forces v38 by default. v40 is the default as of 2.7 upstream. If you want v40, you don't need the PPA. In order for it to be configurable at runtime, you need the `( 1 | 2 )` version of [this patch](https://github.com/achaphiv/ppa-fonts/blob/master/ppa/patches-freetype/enable_v38.patch).

[2018-08-15 19:49] pandasauce commented on #36
archfan/infinality_bundle#17 now has the patches fixed up for 2.9.1 compatibility.

[2018-08-15 20:35] achaphiv commented on #35
Yep. I initially enabled both v38 and v40, but realized it was pointless. Why use this PPA when you can just use the official packages?

To summarize for anyone else stumbling upon this ticket:

* Interpreter v40 = official support and the default as of v2.7.1(?). The fastest option.
* Interpreter v38 = official support, but not the default. Slower than v40. A.K.A. "infinality-lite".
* Interpreter

[2018-08-16 09:31] pandasauce commented on #35
@achaphiv your preferred option [is now available for 2.9.1](https://github.com/archfan/infinality_bundle/blob/master/01_freetype2-iu/0001-infinality-2.9.1-2018.06.21.patch). These are the changes you need to build it:

* https://gitlab.com/pandasauce/freetype-builds/tree/2.9.1-infinality/workdir/patches/debian
* https://gitlab.com/pandasauce/freetype-builds/blob/2.9.1-infinality/workdir/build-fre

[2018-08-17 08:04] achaphiv commented on #36
Building 2.9.1 now.

Thanks for the heads up @pandasauce .

You also saved me a lot of time with the `--enable-freetype-config` hint. I now remember how much I hate debian packaging.

[2018-08-17 08:05] achaphiv commented on #35
Closing this issue since v40 is just the default engine for the regular ubuntu packages.

[2018-08-17 08:05] #35 closed

[2018-08-21 19:02] achaphiv commented on #36
2.9.1 is built for bionic.

[2018-08-21 19:02] #36 closed

[2018-09-02 09:31] revast opened #43 "why is there no fontconfig-infinality package for bionic?"
is it not needed any more?

[2018-09-04 18:05] achaphiv commented on #43
I stopped packaging it around 16.10.

Full explanation here:
https://github.com/achaphiv/ppa-fonts/issues/32#issuecomment-297676916

Does it actually make a visible difference, though?

I see little difference. Perhaps it's because of the fonts I use. I can attempt to package it if someone can provide a screenshot of the before and after.

[2018-09-05 06:47] revast commented on #43
ok, so I just need /etc/profile.d/infinality-settings.sh ? This one is still needed?

[2018-09-05 17:07] greatquux commented on #43
That is the one I use.  (Or if you use a csh-compatible shell then you would need to convert it.)

[2018-09-06 22:27] achaphiv commented on #43
I believe you also want the fontconfig files?

[2019-01-15 23:26] up-to-you opened #44 "Freetype 2.6.5 along with libcairo"
There are a lot of debates, flames and bugs according to new  freetype v40 engine.
Sure, FREETYPE_PROPERTIES is a right way, but only sometimes, since far from all processes inherits env variables.

So, the best way to have clear readable fonts that are similar to 16.04.* Ubuntu versions is a 2.6.5 libfreetype, that put maximum effort for v35 until 2.7 released.

You can just compare fonts using V

[2019-01-17 16:30] achaphiv commented on #44
Freetype 2.6.5 on the recent distributions is likely not going to happen.

I vaguely recall that some core system packages rely on the newer freetype (v2.7+) APIs, so it's not possible to downgrade freetype without also downgrading all those dependencies.

I'm not sure what you mean by v35 vs v40.

Are you saying that `export FREETYPE_PROPERTIES=truetype:interpreter-version=35` produces different

[2019-06-07 11:29] vladzcloudius opened #45 "create a build for Ubuntu 19 (disco)"
Rendering out of the box is still awful.
Could you, please, create a build for U19 or tell me how I can build it myself.

I upgraded from U18.04 to U19 because of the Gnome and (not that surprisingly) my beautiful Infinality configuration doesn't work anymore.

I'd love to be able to enjoy proper fonts rendering again! ;)

Please, help!

[2019-06-07 13:18] vladzcloudius commented on #45
I noticed that there were similar requests in the past.
I have a question: is there any chance to make the Infinality configuration coming from `/etc/profile.d/infinality-settings.sh` working with the stock freetype?

After reading this: https://www.freetype.org/freetype2/docs/subpixel-hinting.html I understand - there isn't.

Reading this blog left me speechless - who the HECK cares about speed w

[2019-06-07 17:41] greatquux commented on #45
While I do second the request to rebuild for 19.04, I also think they've made great strides in the last few years with rendering. It may not be as good as a customized infinality config but it's no longer "awful".

[2019-06-07 17:49] vladzcloudius commented on #45
@greatquux I may have been exaggerating a little ;)
But I'm on Infinality builds for about 5 years - I'm a spoiled fruit... ;)

[2019-06-07 19:23] achaphiv commented on #45
I tried building for `disco`, but it didn't work.

Ah, the joy of debian packaging.

I'll try to fix it this weekend.

[2019-06-07 19:25] vladzcloudius commented on #45
@achaphiv Really appreciated!
Meanwhile I was able to force install the `cosmic` binaries. So far so good ;)

[2019-06-08 08:55] achaphiv commented on #45
Alright, give it a shot.

The version says `2.9.1c`, but it's really `2.9.1`.
The packaging structure completely changed in `disco`, so I had to do a workaround.

[2019-06-10 14:32] vladzcloudius commented on #45
@achaphiv Thanks a lot! I installation worked smoothly. Looking good so far.

[2019-06-10 14:32] #45 closed

[2019-10-23 06:29] haizaar commented on #42
I second @pandasauce that bionic's patch + fontconfig-infinality packages makes fonts look as great as they did in Xenial :)

It will be great to have fontconfig-infinality package to be available in bionic.

As always - huge thanks for making fonts to look great!

[2020-04-23 20:44] vladzcloudius opened #46 "create a build for Ubuntu 20"
Hi.
I'm really sorry to bother you again but could you, please, create a build for Ubuntu 20.04 LTS?

Just installed it and fonts rendering is still not (as) good.

Please, save us!

[2020-04-24 21:00] achaphiv commented on #46
Yeah, I'll give it a try.

[2020-04-27 07:23] achaphiv commented on #46
Current status: I need an updated patch for freetype 2.10.1.

I'm currently busy with work, so this might be another week or two.

[2020-04-27 18:27] vladzcloudius commented on #46
@achaphiv No problem at all - no rush.

[2020-05-12 20:58] vladzcloudius commented on #46
@achaphiv Sorry for bothering. I guess you are still busy.
This is just a reminder to pop in your mailbox.

[2020-05-17 23:12] achaphiv commented on #46
As usual, debian package is convoluted.

But, the build seems to have gone through:

https://launchpad.net/~no1wantdthisname/+archive/ubuntu/ppa/+build/19316987

[2020-05-17 23:57] vladzcloudius commented on #46
@achaphiv Hi. I guess you are still busy.
I'm willing to help this move forward. - Could you, please, tell where I can get that 2.10.1 patch? Is that something that can be taken from somewhere you are have to actually write it? If the later, can I help somehow?

Thanks in advance.

[2020-05-18 00:20] vladzcloudius commented on #46
Thanks, man!
I noticed that the `fontconfig-infinality` is missing in the build above.
Is this expected?

[2020-05-18 00:23] vladzcloudius commented on #46
I see that you haven't pushed them into the repo yet either.
I guess I simply need to wait a little more... ;)

[2020-05-18 00:39] vladzcloudius commented on #46
@achaphiv Thanks. I see the freetype appears in the web iface here: https://launchpad.net/~no1wantdthisname/+archive/ubuntu/ppa

But I still can't detect it using `dpkg`/`apt`.

[2020-05-18 14:31] vladzcloudius commented on #46
@achaphiv QQ: I noticed slight changes in the way it operates compared to the previous version.

Was there a change in the rendering/hinting approach?
At first it felt as if it was "muddier" but when I looked closer it turned out that it was just my perception while rendering (I'm using Hinted Noto fonts all over the place).
At times it also seems like there is more "shade" near vertical stems tha

[2020-05-18 19:50] greatquux commented on #46
currently he's only providing the freetype library with infinality patches, not any altered fontconfig files.  Generally I don't even bother with those because they make my head spin. I see that the INFINALITY environment variable name has been changed to INFINALITY_FT in the latest version of the infinality-settings.sh file (see https://github.com/pdeljanov/infinality-remix/blob/master/freetype2-

[2020-05-18 21:14] vladzcloudius commented on #46
@greatquux
You are right: `fontconfig-infinality` package is missing: the only one available is `libfreetype6`.

@achaphiv Could you, please, build it for U20 too?

@greatquux I was using scripts from `fontconfig-infinality` which are slightly different from the one you referenced above.

[2020-05-19 00:23] vladzcloudius commented on #46
@achaphiv I cleaned up the `fontconfig-infinality` (by mistake) which remained from 19.10. I backed up the [infinality-settings.sh](https://github.com/achaphiv/ppa-fonts/files/4647496/infinality-settings.zip) and after manually putting it in `/etc/profile.d/` I could clearly see a difference (compared to using "naked" `libfreetype6` without tweaking) and this is the best result I saw so far with t

[2020-05-19 01:27] greatquux commented on #46
The Chrome issue (and Slack, which uses Electron, which is Chromium-based) is because they use their own bundled freetype library: https://github.com/pdeljanov/infinality-remix/issues/3

[2020-05-19 03:18] vladzcloudius commented on #46
Thanks!
Interestingly the OSS Chromium does much better.

[2020-05-20 04:06] achaphiv commented on #46
I stopped building `fontconfig-infinality` some time ago.

See #43.

However, I did forget to build `cairo` with the respect fontconfig patch.
That should deploy shortly.

[2020-05-20 14:33] vladzcloudius commented on #46
Just picked it up. Thanks, @achaphiv .
Luckily I still had `fontconfig-infinality` files on my son's laptop so I simply picked them up and installed on mine.

To your question on U17 related thread: yes, this makes a very visible difference. In particular it changes how things look when one uses small font sizes - letters become wider which makes them much more readable.
Also I see that small lett

[2020-05-20 22:24] achaphiv commented on #46
The `fontconfig-infinality` [deb](https://launchpad.net/~no1wantdthisname/+archive/ubuntu/ppa/+files/fontconfig-infinality_20130104-0ubuntu0ppa1_all.deb) is listed under [packages](https://launchpad.net/~no1wantdthisname/+archive/ubuntu/ppa/+packages).

As for packaging config files from: https://github.com/pdeljanov/infinality-remix/tree/master/fontconfig-infinality-remix

I can give it a try, bu

[2020-05-20 23:02] vladzcloudius commented on #46
Not for Focal... ;)

[2020-05-22 13:31] vladzcloudius commented on #46
@achaphiv @greatquux Wanted to update you that after long lasting fight I figured out that the thing that apparently was bothering me the most was the 96 DPI that Gnome was enforcing while my monitor's native is 109.

As a result some letters were still "shady" and this was driving me CRAZY!!!
After I fixed the DPI I'm getting the result that I like the most with these libs without any scripting.